{% extends 'page.html' %}

{% block content %}
  <h2>About our gym management system</h2>
  <div>
    <p>
      This is a gym management system that allows you to manage your gym members, guests (non-members), and staff.
    </p>
    <p>
      You can add, edit, and delete members, guests, and staff. You can also view a list of all members, guests, and staff.
    </p>
    <hr>
    <p>Future plans are to implement an inventory system for members to check out items, sign  up for classes, payment system to allow users to pay for their membership, and gather more analytics.</p>
  </div>
{% endblock %}