<div class="d-flex align-items-start mt-5">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link {% if url == '/' %} active {% endif %}" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
      <a class="nav-link {% if url == '/' %} active text-white {% else %} text-black {% endif %}}" href="{% url 'index' %}">
        Dashboard
      </a>
    </button>
    {% comment %} <button class="nav-link {% if url == '/transactions/' %} active {% endif %}" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
      <a class="nav-link {% if url == '/transactions/' %} active text-white {% else %} text-black {% endif %}}" href="{% url 'transactions' %}">
        Transactions
      </a>
    </button> {% endcomment %}
    <button class="nav-link {% if url == '/guests/' %} active {% endif %}" id="v-pills-members-tab" data-bs-toggle="pill" data-bs-target="#v-pills-guests" type="button" role="tab" aria-controls="v-pills-guests" aria-selected="false">
      <a class="nav-link {% if url == '/guests/' %} active text-white {% else %} text-black {% endif %}}" href="{% url 'guests' %}">
        Guests
      </a>
    </button>
    <button class="nav-link {% if url == '/members/' %} active {% endif %}" id="v-pills-members-tab" data-bs-toggle="pill" data-bs-target="#v-pills-members" type="button" role="tab" aria-controls="v-pills-members" aria-selected="false">
      <a class="nav-link {% if url == '/members/' %} active text-white {% else %} text-black {% endif %}}" href="{% url 'members' %}">
        Members
      </a>
    </button>
    <button class="nav-link {% if url == '/employees/' %} active {% endif %}" id="v-pills-employees-tab" data-bs-toggle="pill" data-bs-target="#v-pills-employees" type="button" role="tab" aria-controls="v-pills-employees" aria-selected="false">
      <a class="nav-link {% if url == '/employees/' %} active text-white {% else %} text-black {% endif %}}" href="{% url 'employees' %}">
        Employees {{ boo }}
      </a>
    </button>
    <button class="nav-link {% if url == '/settings/' %} active {% endif %}" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
      <a class="nav-link {% if url == '/settings/' %} text-white {% else %} text-black {% endif %}}" href="{% url 'settings' %}">
        Settings
      </a>
    </button>
  </div>
</div>